.column {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.gallery img {
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.2);
}

.full-size-image {
    width: 62%;
    max-width: 500px;
    margin-left: 20px;
}